<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uni.mapper.BookMapper">


    <insert id="save">
        INSERT INTO BOOK(name, publisher, author, image, publication_date, price, content, user_id, status, title)
        VALUES (#{book.name}, #{book.publisher}, #{book.author}, #{book.image}, #{book.publicationDate}, #{book.price},
                #{book.content}, #{userId}, #{book.status}, #{book.title})
    </insert>

    <update id="update">
        UPDATE BOOk
        SET name             = #{book.name},
            publisher        = #{book.publisher},
            author           = #{book.author},
            image            = #{book.image},
            publication_date = #{book.publicationDate},
            price            = #{book.price},
            content          = #{book.content},
            status           = #{book.status},
            title            = #{book.title}
        WHERE id = id
    </update>

    <delete id="delete">
        DELETE
        FROM BOOK
        WHERE id = #{id};
    </delete>

    <select id="findAll" resultType="BookDto">
        SELECT *
        FROM BOOK;
    </select>

    <select id="findById" resultType="BookDto">
        SELECT *
        FROM BOOK
        WHERE id = id;
    </select>

    <select id="findAllByStatus" resultType="BookDto">
        SELECT *
        FROM BOOK
        WHERE status = #{status};
    </select>

    <select id="findAllByUserId" resultType="BookDto">
        SELECT *
        FROM BOOK
        WHERE user_id = #{userId}
    </select>

    <update id="changeStatus">
        UPDATE BOOK
        SET status = #{status}
        WHERE id = #{bookId}
    </update>




</mapper>