<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uni.mapper.BookMapper">


    <insert id="save">
        INSERT INTO BOOK(name, publisher, author, image, publication_date, price, content, type, user_id)
        VALUES (#{book.name}, #{book.publisher}, #{book.author}, #{book.image}, #{book.publicationDate}, #{book.price},
                #{book.content}, #{book.type}, #{userId})
    </insert>


    <update id="update">
        UPDATE BOOK
        SET name             = #{book.name},
            publisher        = #{book.publisher},
            ahthor           = #{book.author},
            image            = #{book.image},
            publication_date = #{book.publicationDate},
            price            = #{book.price},
            content          = #{book.content},
            type             = #{book.type}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM BOOK
        WHERE ID = #{id}
    </delete>

    <select id="findAll" resultType="BookDto">
        SELECT *
        FROM BOOK
        ORDER BY id asc
    </select>

    <select id="findAllByStatus" resultType="BookDto">
        SELECT *
        FROM BOOK
        WHERE status = #{status}
    </select>

    <update id="changeStatus">
        UPDATE BOOK
        SET status = #{status}
        WHERE id = #{id}
    </update>

</mapper>